
table
{
 text-align: center;
 background-color: lightskyblue;
 font-size: 25px;
 font-family: 'Times New Roman', Times, serif;
 width: 600px;
}
td{
    border-radius: 25px;
    background-color: lemonchiffon;
    border: 5px soild blueviolet;
    padding: 12px;
    
}
.flex-main
{
    display: flex;
    background: brown;
    width: 600px;
}
.flex-main > div {
    height: 48px;
    width: 100px;
    color: white;
    border: 1px solid skyblue;
    margin: 1px;
    background: gray;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;

}